{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ asset('style/register.css') }}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    
{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">       
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="divider-text">
                </p>
                
                {{ form_start(registrationForm) }}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                         </div>
                         {{ form_widget(registrationForm.name)}}
                    </div> <!-- form-group// -->
                
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                         </div>
                         {{ form_widget(registrationForm.surname)}}
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-card" style="font-size: 24px;"></i> </span>
                         </div>
                         {{ form_widget(registrationForm.adresse)}}
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
    	                <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		            </div>
                        {{ form_widget(registrationForm.mail)}}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>{{form_label(registrationForm.password)}} </span>
                        </div>
                        {{ form_widget(registrationForm.password.first)}}
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>Confirm {{form_label(registrationForm.password)}}</span>
                        </div>
                        {{ form_widget(registrationForm.password.second)}}
                    </div> <!-- form-group// -->                                      
                

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                        {{ form_widget(registrationForm.agreeTerms)}}
                    </div> <!-- form-group// -->      
                    <p class="text-center">Have an account? <a href="{{ path('app_login') }}">Log In</a> </p>                          
                {{ form_end(registrationForm) }}
            </article>
        </div> <!-- card.// -->
        
    </div> 
   

{% endblock %}
{% block javascript %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
