{% extends 'base.html.twig' %}

{% block title %}Liste Reservation{% endblock %}

{% block body %}
{% block navbar %} {{ parent() }}  {% endblock %} 

{% block table %}
    <table class="table">
        <thead>
            <tr>
                
                <th>DateHeureDebut</th>
                <th>DateHeureFin</th>
                <th>TitreEvenements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                
                <td>{{ reservation.DateHeureDebut ? reservation.DateHeureDebut|date('d-M-Y H:i:s') : '' }}</td>
                <td>{{ reservation.DateHeureFin   ? reservation.DateHeureFin|date('d-M-Y H:i:s') : '' }}</td>
                <td>{{ reservation.TitreEvenements }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Editer</a>
                    <a href="{{ path('reservation_delete', {'id': reservation.id}) }}">Supprimer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes Reservations</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
    <div >
        
    <a href="{{ path('reservation_new') }}">Creations</a></div>
{% endblock %}

