{% extends 'base.html.twig' %}

{% block title %}Liste Reservation{% endblock %}

{% block body %}
{% block navbar %} {{ parent() }}  {% endblock %} 

{% block table %}
    <table class="table">
        <thead>
            <tr>
                <th>Formateur</th>
                <th>Salle</th>
                <th>Date de reservation</th>
                <th>Heure de reservation</th>
                <th>Evenements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.formateur.name}} {{reservation.formateur.surname}}  </td>
                <td>{{ reservation.salle.libelleSalle}}</td>
                <td> Du {{ reservation.DateHeureDebut ? reservation.DateHeureDebut|date('d-M-Y') : '' }} au {{ reservation.DateHeureFin ? reservation.DateHeureFin|date('d-M-Y') : '' }}</td>
                <td>{{ reservation.DateHeureDebut   ? reservation.DateHeureDebut|date('H:i:s') : '' }} à {{ reservation.DateHeureFin   ? reservation.DateHeureFin|date('H:i:s') : '' }}</td>
                <td>{{ reservation.TitreEvenements }}</td>
                <td>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                    <a href="{{ path('reservation_delete', {'id': reservation.id}) }}">Supprimer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes Reservations</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
    <div >
        
    <a href="{{ path('reservation_new') }}">Creations</a></div>
{% endblock %}

